{%  extends "base.twig" %}
{% block content %}

<section>
    <div class="main-background-image position-relative" >
        <div class="position-absolute dot" id="dot"></div>
    </div>
</section>
{% endblock %}