{%  extends "base.twig" %}
{% block content %}

    <div class="px-5 py-1">
        <div class="text-end">
            <button type="button" class="btn btn-primary" id="download">
                Download
            </button>
        </div>

        {% include "pdf_print.twig" %}

    </div>

{% endblock %}