{%  extends "base.twig" %}
{% block content %}

    <div class="px-5 py-1">
        <div class="text-end">
            <a href='/download_pdf' class="btn btn-primary" >
                Download
            </a>
        </div>

        {% include "pdf_print.twig" %}

    </div>

{% endblock %}