{% set title="PDF Builder" %}
{%  extends "base.twig" %}
{% block content %}
    <div class="px-5 py-1">
        <div class="text-end">
            <button type="button" class="btn btn-primary" id="download">
                Download
            </button>
        </div>
        <div class="mt-2">
            <div class="gradient-separator">
                <h1> {{ title }}</h1>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                {% include "image.twig" %}
            </div>
        </div>
    </div>
{% endblock %}